

<div class="about-section pt-4 px-3 px-lg-4 mt-1">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h3 mb-3">About Me</h2>
      <p>Hello! I’m David Díaz Sierra. I have extensive knowledge as "Senior Full Stack Developer", QA Test Automation (Unit, Functional, Integration, End To End), Machine Learning, Big Data (Hadoop, Spark), Micro services architecture, coding and application improvement.</p>
      <p>Experience and use of different technological tools such as Javascript, Node JS, Angular (7,8,9), Python (2.7, 3.6). Experience in monolithic and microservices architectures. Deployment of Jenkins, Pipelines, GitLabCI applications.</p>
      <p>Professional with high results orientation, planned, innovative, proactive, analytical and decisive thinking. With high capacity to adapt to different work teams and work environments, including under pressure or contingent contexts.</p>  
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="row mt-2">
        <div class="col-sm-4">
          <div class="pb-1">Email</div>
        </div>
        <div class="col-sm-8">
          <div class="pb-1 text-secondary">spro80@gmail.com</div>
        </div>
        <div class="col-sm-4">
          <div class="pb-1">Phone</div>
        </div>
        <div class="col-sm-8">
          <div class="pb-1 text-secondary">+569 89194282</div>
        </div>
        <div class="col-sm-4">
          <div class="pb-1">City</div>
        </div>
        <div class="col-sm-8">
          <div class="pb-1 text-secondary">Santiago, Chile</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="d-print-none"/>

