<div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Work Experience</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Full Stack Developer <span class="text-muted h6">at Digital Factory Falabella Company</span></div>
          <div class="text-muted text-small mb-2">January, 2019 - Present</div>
          <div>
            <p>• Development of microservices.</p>
            <p>• Creation of interfaces of different modules for banking.</p>
            <p>• Integration of web channel with microservices (Frontend and Backend integration).</p>
            <p>• Development of automated tests (unit, mutation, functional, integration), which conform to the company standard.</p>
            <p>• Code and improve applications that help provide a functional and uninterrupted experience for the end user.</p>
            <p>• Propose solutions to programming problems to generate sustainable and scalable solutions.</p>
            <p>• Contribute to the automation of internal processes, with the aim of directly contributing to closing the gaps found in their operation, together with contributing to the control and development and implementation.</p>
            <p>• Technologies Used: Linux, Javascript, Typescript, Angular (7, 8 and 9), Node JS, Web Services, Json, XML, Rabitmq, Stack ELK (Elastic Search, Logstash, Kibana), Continuous Integration, TDD, Test (Unit , Mutation, Functional, Integration), Test café, Docker (Compose), Portainer, Microservices Architecture, Deploy (Jenkins and Jira), Portainer, Jira, Confluence, BitBucket, GitLab CI, Sonar.</p>
            </div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Software Developer Senior & QA Automation <span class="text-muted h6">at Zweicom</span></div>
          <div class="text-muted text-small mb-2">January, 2015 - January, 2019</div>
          <div>
            <p>• Analyze and implement development of the various services for mobile telephony clients, performing automated tests (unit, integration and functional) to ensure the correct functioning of the service.
            <p>• Carry out the necessary documentation according to the standards defined within the development process.</p>
            <p>• Design and execute test plans to ensure that each requirement is validated.</p>
            <p>• Ensure the correct adoption and execution of the processes, procedures and methodology.</p>
            <p>• Carry out and support the implementation of improvements in processes and products, proposing improvement actions.</p>
            <p>• Technologies used: Linux, Javascript, Python 2.7, Golang, Web Services, Json, XML, API Rest, MariaDB, ActiveMq, Continuous Integration, Test Driven Development, Test (Unit, Functional, Integration, Acceptance), Docker, Docker Compose, Microservices Architecture, InfluxDB.</p>
          </div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Project Engineer <span class="text-muted h6">at Amazon Technologies</span></div>
          <div class="text-muted text-small mb-2">Aug, 2013 - Dic, 2014</div>
          <div>
            <p>• Automate processes using Micro Controllers for different company projects, ensuring compliance with the company's objectives and quality standards.</p>
            <p>• Carry out information gathering for each project, in order to generate a proposal that meets the expectations and requirements of each client.</p>
            <p>• Development of resident call systems in clinics, using Arduino Microcontroller, Java J2SE.</p>
            <p>• Development of vehicle entry control systems with RFID Technology (Tag, RFID Reader), Java J2SE, C #</p>
            <p>• Development of Reporting Systems, using HTML5, CSS3, Javascipt, Framework Codeigniter MVC (PHP).</p>
            <p>• Mail System Development using Basic Stamp microcontroller, C #.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>

