<div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Courses</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Ethical Hacking Course <span class="text-muted h6">at Zona Cero</span></div>
          <div class="text-muted text-small mb-2">May, 2020</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">English Course <span class="text-muted h6">at Tronwell</span></div>
          <div class="text-muted text-small mb-2">Jul, 2019 - Feb, 2020</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">React + REDUX + Redux Form course <span class="text-muted h6">at Desafio Latam</span></div>
          <div class="text-muted text-small mb-2">July, 2018 - Aug, 2018</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Scrum Master <span class="text-muted h6">at Zweicom</span></div>
          <div class="text-muted text-small mb-2">Jul, 2018</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Docker <span class="text-muted h6">at Udemy</span></div>
          <div class="text-muted text-small mb-2">2017</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Software Testing <span class="text-muted h6">at Udemy</span></div>
          <div class="text-muted text-small mb-2">2017</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Web Responsive with Bootstrap <span class="text-muted h6">at Udemy</span></div>
          <div class="text-muted text-small mb-2">2016</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Node JS <span class="text-muted h6">at Udemy</span></div>
          <div class="text-muted text-small mb-2">2016</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Python Access Web Data (XML, SOAP) <span class="text-muted h6">at Coursera</span></div>
          <div class="text-muted text-small mb-2">2015</div>
        </div>
      </div>



      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Human resources management <span class="text-muted h6">at Seaprende</span></div>
          <div class="text-muted text-small mb-2">2013</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">ISO 9001 Quality Management <span class="text-muted h6">at Seaprende</span></div>
          <div class="text-muted text-small mb-2">2013</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Java 6 - J2EE - UML <span class="text-muted h6">at IT WALL</span></div>
          <div class="text-muted text-small mb-2">2013</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">English Course <span class="text-muted h6">at International School La Serena</span></div>
          <div class="text-muted text-small mb-2">2011</div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>